<h1>Your Bookings:</h1>
<p><%= 'Rent by: ' + @booking.user.username %></p>
<p><%= 'Owend by: ' + @booking.surfboard.user.username %></p>
<p><%= 'Start date: ' + @booking.start_date.to_s %></p>
<p><%= 'End date: ' + @booking.end_date.to_s %></p>
<p><%= 'Total Price: ' + '$' + @booking.total_price.to_s %></p>
<%= link_to 'All Bookings', bookings_path, class: 'btn btn-primary' %>
