<div class="container m-auto">
  <!-- User details -->
  <div class="mb-5 d-flex flex-column align-items-center text-center">
    <h1>Hello, I'm <%= @user.username %>!</h1>
    <% if current_user.photo.attachment.nil? %>
      <%= image_tag "avatar.png", alt: "Profile Picture", class: "avatar avatar--large mb-4" %>
        <% else %>
      <%= cl_image_tag current_user.photo.key %>
    <% end %>
    <% unless @user.description.nil? %>
      <p><strong>About me:</strong></p>
      <p><%= @user.description %></p>
    <% end %>
    <!-- Edit profile -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userProfileModal">Edit Profile</button>
  </div>

  <hr/>

  <!-- Tabs -->
  <div class="tabs">
    <span data-tab-id="1" class="tabs__label active">My listings</span>
    <span data-tab-id="2" class="tabs__label">I'm renting</span>
    <span data-tab-id="3" class="tabs__label">My booked boards</span>
  </div>

  <!-- My listings -->
  <div data-tab-id="1" class="tabs__content active">
    <%= render 'my_listings' %>
  </div>
  <!-- I've rented out these boards -->
  <div data-tab-id="2" class="tabs__content">
    <%= render 'my_bookings' %>
  </div>
  <!-- Other's have rented out my board -->
  <div data-tab-id="3" class="tabs__content">
    <%= render 'my_boards_booked' %>
  </div>

</div>

<!-- Modal edit form -->
<%= render 'edit' %>
