<div class="d-flex container justify-content-around">
	<div class="profile-welcome text-center">	
		<h1>Hello, <%= @user.username %>!</h1>
		<% if current_user.photo.attachment.nil? %>
      <%= image_tag "avatar.png", alt: "Profile Picture", :style => "height: 350px; width: 350px; object-fit: cover; border-radius: 50%" %>
        <% else %>
      <%= cl_image_tag current_user.photo.key, :style => "height: 350px; width: 350px; object-fit: cover; border-radius: 50%" %>
    <% end %>
		<!-- < cl_image_tag @user.photo.key unless @user.photo.attachment.nil? %> -->
		<div>
    <br>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
				  Edit Profile
			</button>
		</div>
	</div>
	
	<div class="profile-details text-center">
		<h4>Description:</h4>

		<p><%= @user.description %></p>
		<h4>My Listings:</h4>
    <% if @user.surfboards.count.zero? %>
    <div class="alert alert-success position-static" role="alert" >
      <%= "Currently you don't have any listings" %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>

		<div class="row">
			<% @user.surfboards.each do |surfboard| %>
      <%= link_to surfboard_path(surfboard), :style => "text-decoration: none; color: black;" do%>
			<div class="col-12">
				<div class="card text-center align-items-center">
					<div class="card-body">
          <%= cl_image_tag surfboard.photo.key, :style => "height: 60px; width: auto; object-fit: cover" %>
					</div>
				</div>
			</div>
      <% end %>
			<% end %>
		</div>
  <hr>
    <h4>My bookings:</h4>
    <% if @user.bookings.count.zero? %>
    <div class="alert alert-warning position-static" role="alert" >
      <%= "Currently you don't have any bookings" %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>
    <div class="row">
			<% @user.bookings.each do |booking| %>
      <%= link_to booking_path(booking), :style => "text-decoration: none; color: black;" do%>
			<div class="col-12 no-gutters">
				<div class="card d-flex text-center align-items-center ">
					<div class="card-body d-flex ">
            <div><%= cl_image_tag booking.surfboard.photo.key, :style => "height: 70px; width: auto; object-fit: cover; padding-right: 8px" %></div>
						<div style="padding: 10px 0"><%= booking.surfboard.title %><br>
            <%= "From: #{booking.start_date.to_formatted_s(:short)} | To: #{booking.end_date.to_formatted_s(:short)}" %></div>
					</div>
				</div>
			</div>
			<% end %>
      <% end %>
		</div>


	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">Edit Profile</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <%= simple_form_for @user do |f| %>
						<%= f.input :description %>
						<%= f.input :photo, as: :file %>
						<%= f.button :submit, "Save", class: "btn btn-primary" %>
					<% end %>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<!-- # < link_to "Delete Account", user_path(@user),
#       method: :delete,
#       data: { confirm: "Are you sure?" } %> -->