<h1>Hello, <%= @user.username %>!</h1>
<% if current_user.photo.attachment.nil? %>
  <%= image_tag "avatar.png", alt: "Profile Picture" %>
    <% else %>
  <%= cl_image_tag current_user.photo.key %>
<% end %>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userProfileModal">Edit Profile</button>

<h3>Description:</h3>
<p><%= @user.description %></p>

<h3>My Listings:</h3>
<% if @user.surfboards.count.zero? %>
  <div class="alert alert-warning position-static" role="alert">
    No current listings
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% @user.surfboards.each do |surfboard| %>
  <%= link_to surfboard_path(surfboard) do %>
  	<div class="card">
      <%= surfboard.name %>
      <%# cl_image_tag surfboard.photo.key %>
  	</div>
  <% end %>
<% end %>

<h3>My bookings:</h3>
<% if @user.bookings.count.zero? %>
  <div class="alert alert-warning position-static" role="alert">
    No current bookings
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>


<% @user.bookings.each do |booking| %>
  <%= link_to booking_path(booking) do%>
  	<div class="card ">
      <%# cl_image_tag booking.surfboard.photo.key %>
  		<p><%= booking.surfboard.name %></p>
      <p>From: <%= "#{booking.start_date.to_formatted_s(:short)}" %> | To: <%= "#{booking.end_date.to_formatted_s(:short)}" %></p>
  	</div>
  <% end %>
<% end %>

<%= render "edit" %>
