<div class="d-flex container justify-content-around">
	<div class="profile-name text-center">	
		<h1>Hello, <%= @user.username %>!</h1>
		<% if current_user.photo.attachment.nil? %>
      <%= image_tag "profile.jpg", alt: "Profile Picture", :style => "height: 350px; width: 350px; object-fit: cover; border-radius: 50%" %>
        <% else %>
      <%= cl_image_tag current_user.photo.key, :style => "height: 350px; width: 350px; object-fit: cover; border-radius: 50%" %>
    <% end %>
		<!-- < cl_image_tag @user.photo.key unless @user.photo.attachment.nil? %> -->
		<div>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
				  Edit Profile
			</button>
		</div>
	</div>

	<div class="card text-center" style="width: 400px;">
		<p>Description: <%= @user.description %></p>
		<ol>
			<% @user.surfboards.each do |surfboard| %>
				<li><%= surfboard.title %></li>
			<% end %>
		</ol>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">Edit Profile</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <%= simple_form_for @user do |f| %>
						<%= f.input :description %>
						<%= f.input :photo, as: :file %>
						<%= f.button :submit, "Save", class: "btn btn-primary" %>
					<% end %>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<!-- # < link_to "Delete Account", user_path(@user),
#       method: :delete,
#       data: { confirm: "Are you sure?" } %> -->