<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path('home-banner.jpg') %>);">
  <div class="container">
    <!-- Banner -->
    <span id="banner-typed-text"></span>
    <div class="index-search">
      <%= form_tag surfboards_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          id: "surfboard_location",
          placeholder: "Search by Location"
        %>
      <% end %>
    </div>
    <div>
      <%= submit_tag "FIND YOUR SURFBOARD", class: "button" %>
    </div>

    <!-- Steps Banner -->
    <div class="d-flex justify-content-around">
      <div class="card-steps"></div>
      <div class="card-steps"></div>
      <div class="card-steps"></div>
    </div>

  </div>
</div>
<!-- Banner -->
<div class="body">
  
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= asset_path('home-banner.jpg') %>);">
    <div class="container">
      <h1>
        <span id="banner-typed-text"></span>
      </h1>
      <div class="search-bar">
        <%= form_tag surfboards_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            id: "surfboard_location",
            placeholder: "SEARCH BY LOCATION"
          %>
        <% end %> 
      </div>
      <%= submit_tag "Find your Surfboard", class: "button" %>
    </div>
  </div>

  <!-- How it works -->
  <div class="secondary-container">
    <h2>How it works</h2>
    <div class="steps-cards d-flex justify-content-around">
      <div class="card text-uppercase">
        <div class="card-body text-center">
          <i class="fas far fa-hand-pointer"></i>
          <p>Create an account</p>
        </div>
      </div>
      <div class="card text-uppercase">
        <i class="fas fa-search-location"></i>
        <p>Search for a surfboard nearby</p>
      </div>
      <div class="card text-uppercase">
        <i class="fas fa-water"></i>
        <p>Collect and head to the surf</p>
      </div>
    </div>
  </div>
  
  <!-- Secondary Banner -->
  <div class="secondary-banner" style="background-image: linear-gradient(to bottom, rgba(22,22,22,0.1) 0%, rgba(22,22,22,0.5) 75%, #161616 100%), url(<%= asset_path('secondary-banner.jpg') %>);">
  </div>


  <!-- Footer -->
  <div class="footer">
    <div class="links">
      <i class="fab fa-fw fa-facebook-f"></i>
      <i class="fab fa-fw fa-github"></i>
      <i class="fab fa-fw fa-twitter"></i>
    </div>
    <p>Copyright © SeaHabilitated 2020</p>
  </div>

</div>
