<div class="modal fade" id="surfboardEditModal" tabindex="-1" role="dialog" aria-labelledby="surfboardEditModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Surfboard</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @user do |f| %>
          <%= simple_form_for @surfboard do |f| %>
          <%= f.input :name,
                      input_html: { class: "form__input"},
                      label_html: { class: "form__label"} %>
          <%= f.input :brand,
                      input_html: { class: "form__input"},
                      label_html: { class: "form__label"} %>
          <%= f.input :category, as: :radio_buttons, collection: @surfboard.cat,
                      input_html: { class: "form__input"},
                      label_html: { class: "form__label"} %>
          <%= f.input :price, label: "Price per Day",
                      input_html: { class: "form__input"},
                      label_html: { class: "form__label"} %>
          <%= f.input :deposit, label: "Deposit on pickup",
                      input_html: { class: "form__input"},
                      label_html: { class: "form__label"} %>
          <%= f.input :description, label: "Please enter a detailed description about your item, including its condition",
                      input_html: { class: "form__input"},
                      label_html: { class: "form__label"} %>
          <%= f.input :location, label: "Pick up location",
                      input_html: { class: "form__input"},
                      label_html: { class: "form__label"} %>
          <%= f.input :photo, as: :file,
                      label_html: { class: "form__label"} %>
          <%= f.button :submit , class: "btn btn-primary w-100" %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
