<h5><%= surfboard.name %></h2>
<p><%= surfboard.category %> by <%= surfboard.brand %></p>
<p>$<%= surfboard.price %> / day</p>
<%= link_to "View", surfboard_path(surfboard), class: "btn btn-primary" %>
