<h5><%= surfboard.name %></h2>
<p>Brand - <%= surfboard.brand %></p>
<p>Catagory - <%= surfboard.category %></p>
<p>$<%= surfboard.price %> per day</p>
<%= link_to "View", surfboard_path(surfboard), class: "btn btn-primary" %>
