<div class="container">
  <div class="card">
    <h1>Surfboards near location</h1>
  </div>
  <div class="row">
    <div
      id="map"
      style="width: 90%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="row">
    <% @surfboards.each do |surfboard| %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card text-center align-items-center">
        <!-- Image tag -->
        <div class="card-body">
          <h5><%= surfboard.title%></h5>
          <p><%= surfboard.description %></p>
          <p>$<%= surfboard.price %> per <%= surfboard.price_duration %></p>
        </div>
        <div class="class-text">
          <ul>
            <li>Skill - <%= surfboard.skill_level %></li>
            <li>Wave Size - <%= surfboard.wave_size %></li>
            <li>wave Type - <%= surfboard.wave_type %></li>
          </ul>
          <%= link_to "Inspect", surfboard_path(surfboard), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>


