<h1>Create Surfboard</h1>
<%= simple_form_for @surfboard do |f| %>
  <%= f.input :name %>
  <%= f.input :brand %>
  <%= f.input :category, as: :radio_buttons, collection: @surfboard.cat %>
  <%= f.input :price, label: "Price per Day" %>
  <%= f.input :deposit, label: "Deposit on pickup" %>
  <%= f.input :description, label: "Please enter a detailed description about your item, including its condition" %>
    <%= f.input :location, label: "What is Surfboards location" %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>
