<% if @user.nil? %>
  <p>You are not signed in! Sign Up or Login to create a listing:</p>
  <div>
    <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
  </div>
<% else %>
  <div class="container">
    <div class="card text-center">
      <h1>Create Surfboard</h1>
      <div class="card">
        <%= simple_form_for @surfboard do |f| %>
          <%= f.input :title %>
          <%= f.input :brand %>
          <%= f.input :category, as: :radio_buttons, collection: @surfboard.cat %>
          <%= f.input :board_dimensions, label: "Board Dimensions in Feet" %>
          <%= f.input :price_duration, collection: @surfboard.pd, label: "Rent by Days or Weeks"%>
          <%= f.input :price, label: "Price per Day/Week" %>
          <%= f.input :deposit, label: "Deposit on pickup" %>
          <%= f.input :wave_size, as: :radio_buttons, collection: @surfboard.wavesize %>
          <%= f.input :wave_type, as: :radio_buttons, collection: @surfboard.wavetype %>
          <%= f.input :fin_type, as: :radio_buttons, collection: @surfboard.fintype %>
          <%= f.input :skill_level, as: :radio_buttons, collection: @surfboard.skilllev %>
          <%= f.input :description, label: "Please enter a detailed description about your item, including its condition" %>
          <%= f.input :location, label: "What is Surfboards location" %>
          <%= f.input :photo, as: :file %>
          <%= f.button :submit , class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

