<div class="form">
  <h1>Create Surfboard</h1>
  <%= simple_form_for @surfboard do |f| %>
    <%= f.input :name,
                input_html: { class: "form__input"},
                label_html: { class: "form__label"} %>
    <%= f.input :brand,
                input_html: { class: "form__input"},
                label_html: { class: "form__label"} %>
    <%= f.input :category, as: :radio_buttons, collection: @surfboard.cat,
                input_html: { class: "form__input"},
                label_html: { class: "form__label"} %>
    <%= f.input :price, label: "Price per Day",
                input_html: { class: "form__input"},
                label_html: { class: "form__label"} %>
    <%= f.input :deposit, label: "Deposit on pickup",
                input_html: { class: "form__input"},
                label_html: { class: "form__label"} %>
    <%= f.input :description, label: "Please enter a detailed description about your item, including its condition",
                input_html: { class: "form__input"},
                label_html: { class: "form__label"} %>
      <%= f.input :location, label: "What is Surfboards location",
                  input_html: { class: "form__input"},
                  label_html: { class: "form__label"}%>
    <%= f.input :photo, as: :file,
                label_html: { class: "form__label"} %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
