<div class="card mb-3 d-flex">
  <div>
    <%= cl_image_tag @surfboard.photo.key, :style => "height: 350px; width: 350px; object-fit: cover" %>
  </div>
  <div class="card-body">
    <h4 class="card-title"><%= @surfboard.title %></h5>
    <p class="card-text">Skill Level = <%= @surfboard.skill_level %></p>
    <h5 class="card-title">Information about the Surfboard</h5>
    <p class="card-text"><%= @surfboard.description %></p>
    <br>
    <p class="card-text">Brand = <%= @surfboard.brand %></p>
    <p class="card-text">Catagory = <%= @surfboard.category %></p>
    <p class="card-text">Board Dimensions = <%= @surfboard.board_dimensions %> ft</p>
    <p class="card-text">Cost = <%= @surfboard.price %> per day</p>
    <p class="card-text">Deposit Upon Collection = <%= @surfboard.deposit %></p>
    <p class="card-text">Wave Size = <%= @surfboard.wave_size %></p>
    <p class="card-text">Fin Type = <%= @surfboard.fin_type %></p>
  </div>
  <div>
    <%= link_to "Back to Search", surfboards_path, class: "btn btn-primary" %>
    <%= link_to "Edit Listing", edit_surfboard_path, class: "btn btn-primary" if @surfboard.user == current_user %>
    <%= link_to "Book This One", new_booking_path(:surfboard_id => @surfboard.id), class: "btn btn-primary" if @surfboard.user != current_user%>
    <%= link_to "Delete This Surfboard", surfboard_path(@surfboard), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" if @surfboard.user == current_user %>
  </div>
</div>
