<%= link_to "Back", :back %>
<%= cl_image_tag @surfboard.photo.key %>

<h1><%= @surfboard.name %></h1>
<p><%= @surfboard.description %></p>
<p>Brand: <%= @surfboard.brand %></p>
<p>Catagory: <%= @surfboard.category %></p>
<p>Cost: $<%= @surfboard.price %> per day</p>
<p>Deposit Upon Collection: $<%= @surfboard.deposit %></p>

<% if current_user == @surfboard.user %>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#surfboardEditModal">Edit listing</button>
  <%= link_to "Delete", surfboard_path(@surfboard), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
<% end %>

<% if current_user != @surfboard.user %>
  <%= link_to "Book This One", new_booking_path(surfboard_id: @surfboard.id) %>
<% end %>

<%= render "edit" %>
